<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <h1>Welcome to your Dashboard!</h1>
                <p>To call your service Please, click on below button -</p>
                <div>
                    <h1 *ngIf="dataBoolean">{{data}}</h1>
                    <button (click)="getService()" mat-raised-button color="accent">Get Second Services</button>
                    <br>
                    <br>
                    <button (click)="getwelcomeService()" mat-raised-button color="primary">Get Welcome Services</button>
                    
          
                </div>
            </div>
        </div>

    </div>
</div>